header {
    display: flex;
    justify-content: center;
    background-color: var(--slate-900);
    z-index: 10;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    width: min(1200px, 100%);
}

header .title {
    font-size: 2.4rem;
    color: white;
}

header .logo {
    user-select: none;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .logo img {
    width: 64px;
}

header .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* BURGER */
.burger {
    display: none;
    padding: 4px;
}

.burger span {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px;
  background: var(--slate-200);
  transition: 0.5s ease;
}

header :has(.menu.dropped) .burger span:nth-child(1) { transform: rotate(-45deg) translate(-5px,6px ); }
header :has(.menu.dropped) .burger span:nth-child(2) { transform: scale(0); opacity: 0; }
header :has(.menu.dropped) .burger span:nth-child(3) { transform: rotate(45deg) translate(-5px,-6px ); }


.menu .dropped {
    background-color: red;
}

@media screen and (max-width: 1030px) {
    header .title {
        font-size: 28px;
    }

    header .menu {
        font-size: 14px;
    }
}

@media screen and (max-width: 930px) {
    header .title {
        font-size: 22px;
    }

    header .menu {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    header .burger {
        display: block;
    }

    nav .menu {
        font-size: 21px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 90px;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--slate-700);
        z-index: 50;
        transition: 0.5s ease-in-out;
    }

    nav .menu.dropped {
        right: 0;
    }
}

@media screen and (max-width: 576px) {
    header .title {
        font-size: 21px;
    }

    header .logo img {
        width: 48px;
    }

    header .content {
        padding: 15px 15px;
    }
}


@media screen and (max-width: 375px) {
    header .title {
        font-size: 18px;
    }
}